
.card {
	/* position: relative; */
	height: 440px;
	width: 100%;
	perspective: 500px;
}

.cardMoves{
	height: 440px;
	width: 100%;
	perspective: 500px;
}
.content{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}
.cardMoves .content{
	transform: rotateY( 180deg ) ;
	transition: transform 0.5s;
}
.sendContainer
,.receiveContainer {
	position: absolute;
    height: 100%;
	width: 100%;
	background: white;
	border-radius: 40px;
	padding:10%;
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	backface-visibility: hidden;
}
.receiveContainer {
	background: white;
	transform: rotateY( 180deg );
}
 
/* .uploadFilesContainer{
	
} */
.dragFileArea {
	border: 2px dashed #7b2cbf;
	border-radius: 40px;
	margin: 0;
	padding: 0;
    height: 300px;
	width:100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.dragFileInput{
    height: 300px;
	width: 350px;
    background-color: black;
}
 
.sendButtonContainer{
	width: 100%;
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
 
/* .dragFileArea label .browseFilesText {
	color: #7b2cbf;
	font-weight: bolder;
	cursor: pointer;
} */
.browseFilesText{
    color: #7b2cbf;
	font-weight: bolder;
	cursor: pointer;
}
.browseFiles span {
	position: relative;
	top: -25px;
}
.defaultFileInput {
	opacity: 0;
}
.cannotUploadMessage {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
 
.fileBlock {
	font-size: 0.6rem;
    display:flex;
	color: #f7fff7;
	background-color: #6B46C1;
  	transition: all 1s;
    width:70%;
    height : 36px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    white-space: nowrap;
	overflow: hidden;
        text-overflow: "----";
	border-radius: 25px;
}
 
.removeFileIcon {
	cursor: pointer;
}
.progressBar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}
.uploadButton {
	font-family: 'Montserrat';
	background-color: #7b2cbf;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}